<div class='dashboard'>
    <div class="dashboard-nav">
        <header>
            <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
            <a href="/" class="brand-logo"><i class="fas fa-guitar"></i><span>Гармония</span></a>
        </header>
            <nav class="dashboard-nav-list">
                <a href="/" class="dashboard-nav-item"><i class="fas fa-home"></i> Главная </a>
                <a href="/about" class="dashboard-nav-item active"><i class="far fa-address-card"></i> О нас</a>
                <a href="/contact" class="dashboard-nav-item"><i class="far fa-address-book"></i> Контакты </a>
                
                <div class='dashboard-nav-dropdown'>
                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-users"></i> Пользователи </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a href="/stud" class="dashboard-nav-dropdown-item">Список<br>поступивших</a>
                        <a href="/teacher" class="dashboard-nav-dropdown-item">Преподовательский<br>состав</a>
                        <a href="#" class="dashboard-nav-dropdown-item">Non-subscribed</a>
                        <a href="#" class="dashboard-nav-dropdown-item">Banned</a>
                        <a href="#" class="dashboard-nav-dropdown-item">New</a>
                    </div>
                </div>
                <div class='dashboard-nav-dropdown'>
                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-money-check-alt"></i> Платежи </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a href="#" class="dashboard-nav-dropdown-item">All</a>
                        <a href="#" class="dashboard-nav-dropdown-item">Recent</a>
                        <a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
                    </div>
                </div>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Настройки </a>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Профиль </a>
                <div class="nav-item-divider"></div>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Войти </a>
            </nav>
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
            <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        </header>
        {{{body}}}
    </div>
</div>